/* Centering */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Border => @include border; */
@mixin border(
  $width: var(--border-width),
  $style: var(--border-style, solid),
  $color: var(--border-color)
) {
  border: $width $style $color;
}

@mixin border-top(
  $width: var(--border-width),
  $style: var(--border-style, solid),
  $color: var(--border-color)
) {
  border-top: $width $style $color;
}

@mixin border-right(
  $width: var(--border-width),
  $style: var(--border-style, solid),
  $color: var(--border-color)
) {
  border-right: $width $style $color;
}

@mixin border-bottom(
  $width: var(--border-width),
  $style: var(--border-style, solid),
  $color: var(--border-color)
) {
  border-bottom: $width $style $color;
}

@mixin border-left(
  $width: var(--border-width),
  $style: var(--border-style, solid),
  $color: var(--border-color)
) {
  border-left: $width $style $color;
}

@mixin text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
