/* 
How to use:

* Default: full width, md: half, lg: third
* <div class="col-1-1 col-1-2-md col-1-3-lg">

* Always third
* <div class="col-1-3">

* Half on small, quarter on medium, sixth on large
* <div class="col-1-2-sm col-1-4-md col-1-6-lg">
*/


@use '../abstracts/breakpoints' as *;


/* Grid Container */
.kb-grid {
    --_columns: 24;
    --_grid-inline-gap: var(--spacing-grid);
    --_grid-block-gap: var(--spacing-grid);
    --_width: 1/1;

    display: grid;
    grid-template-columns: repeat(var(--_columns), 1fr);
    
    row-gap: var(--_grid-block-gap);
    column-gap: var(--_grid-inline-gap);
}

/* All children have full width by default */
.kb-grid > * {
    grid-column: span calc(var(--_columns) * var(--_width)); // Ex.: 24 * 1/8 = 3
}

/* Fractions */
$fractions: (
  "1-1":  1/1,
  "3-4":  3/4,
  "2-3":  2/3,
  "1-2":  1/2,
  "1-3":  1/3,
  "1-4":  1/4,
  "1-6":  1/6,
  "1-8":  1/8,
  "1-12": 1/12
);

/* Breakpoints => Must match $breakpoints keys from abstracts/breakpoints.scss */
$bp-keys: ( xs,sm,md,lg,xl );

/* Base (mobile / default) classes */
@each $name, $value in $fractions {
  .col-#{$name} {
    --_width: #{$value};
  }
}

// Responsive variants like .col-1-2-sm, .col-1-2-md, ...
@each $bp in $bp-keys {
  @include breakpoint($bp) {
    @each $name, $value in $fractions {
      .col-#{$name}-#{$bp} {
        --_width: #{$value};
      }
    }
  }
}