/* Colors */
.bg-c-black { background-color: var(--color-black); }
.bg-c-white { background-color: var(--color-white); }
.bg-c-accent { background-color: var(--accent-color); }
.bg-c-bg { background-color: var(--bg-color); }
.bg-c-text { background-color: var(--text-color); }
.bg-c-link { background-color: var(--link-color); }

.c-black { color: var(--color-black); }
.c-white { color: var(--color-white); }
.c-accent { color: var(--accent-color); }
.c-text { color: var(--text-color); }
.c-bg { color: var(--bg-color); }
.c-link { color: var(--link-color); }



/* Spacing */
/* Use like: m-xs, m-inline-xs, m-block-xs, m-top-xs, p-bottom-xs, p-left-xs, p-right-xs */
$spaces: 3xs, 2xs, xs, sm, md, lg, xl, 2xl, 3xl;
$directions: (
  "": "",               // m-xs
  "-inline": "inline",  // m-inline-xs
  "-block": "block",    // m-block-xs
  "-top": "top",
  "-bottom": "bottom",
  "-left": "left",
  "-right": "right"
);

@each $d-suffix, $d-prop in $directions {
  @each $size in $spaces {

    .m#{$d-suffix}-#{$size} {
      @if $d-prop == "" {
        margin: var(--spacing-#{$size});
      } @else {
        margin-#{$d-prop}: var(--spacing-#{$size});
      }
    }

    .p#{$d-suffix}-#{$size} {
      @if $d-prop == "" {
        padding: var(--spacing-#{$size});
      } @else {
        padding-#{$d-prop}: var(--spacing-#{$size});
      }
    }

  }
}



/* Display */
.block { display: block; }
.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.hidden { display: none; }



/* Flexbox */
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }

.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }

.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }

.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }

.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }
.align-baseline { align-items: baseline; }
.align-stretch { align-items: stretch; }



/* Gap */
.no-gap { gap: 0; }
.no-rowgap { row-gap: 0; }
.no-columngap { column-gap: 0; }
.gap { gap: var(--spacing-grid); }

@each $size in $spaces {
  .gap-#{$size}     { gap: var(--spacing-#{$size}); }
  .col-gap-#{$size} { column-gap: var(--spacing-#{$size}); }
  .row-gap-#{$size} { row-gap: var(--spacing-#{$size}); }
}



/* Positioning */
.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }
