:root {

    /* Typography */
    --font-family-base: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --font-size-sm: clamp(0.9375rem, 0.9295rem + 0.0437vw, 1rem);
    --font-size-md: clamp(1.125rem, 1.109rem + 0.0875vw, 1.25rem);
    --font-size-lg: clamp(1.35rem, 1.3228rem + 0.1487vw, 1.5625rem);
    --font-size-xl: clamp(1.9438rem, 1.88rem + 0.3481vw, 2.4413rem);

    --line-height-sm: 1.4;
    --line-height-md: 1.2;
    --line-height-lg: 1.0;
    --line-height-xl: 0.9;

    --font-weight-normal: 400;
    --font-weight-bold: 600;


    /* Colors */
    /* Base Colors */
    --color-black: rgb(29, 29, 27);
    --color-white: rgb(248, 248, 248);
    --color-red:   rgb(255, 51, 51);

    /* Semantic Colors */
    --text-color:   var(--color-black);
    --bg-color:     var(--color-white);
    --accent-color: var(--color-red);

    /* Component Colors */
    --link-color:   var(--accent-color);
    --icon-color:   var(--text-color);
    --border-color: var(--text-color);
    --button-color: var(--color-red);


    /* Borders */
    --border-width: 1px;


    /* Spacing */
    $spacing-unit: 4px; // Adjust the base spacing unit as needed

    --spacing-3xs: calc( 0.5 * #{$spacing-unit});
    --spacing-2xs: calc( 1   * #{$spacing-unit});
    --spacing-xs:  calc( 2   * #{$spacing-unit});
    --spacing-sm:  calc( 4   * #{$spacing-unit});
    --spacing-md:  calc( 8   * #{$spacing-unit});
    --spacing-lg:  calc(12   * #{$spacing-unit});
    --spacing-xl:  calc(16   * #{$spacing-unit});
    --spacing-2xl: calc(24   * #{$spacing-unit});
    --spacing-3xl: calc(32   * #{$spacing-unit});

    --spacing-inline: var(--spacing-md);
    --spacing-block:  var(--spacing-sm);

    --spacing-grid: clamp(
        var(--spacing-xs),
        var(--spacing-xs) + 0.2vw,
        var(--spacing-sm)
    );
    

    /* Container */
    --container-width: 100%;


    /* Buttons & Icons */
    --icon-size: clamp(1.875rem, 1.429rem + 1.429vw, 2.5rem);
    --burger-button-width: calc(var(--icon-size) * 1.25);
    --burger-button-height: calc(var(--burger-button-width) * 2 / 3);
    --burger-button-stroke: 3px;


    /* Breakingpoints */
    // --breakpoint-xs: #{$breakpoint-xs};
    // --breakpoint-sm: #{$breakpoint-sm};
    // --breakpoint-md: #{$breakpoint-md};
    // --breakpoint-lg: #{$breakpoint-lg};
    // --breakpoint-xl: #{$breakpoint-xl};
}