// @font-face {
//     font-family: 'Farrari';
//     src:
//         url('/assets/fonts/farrari-beta.ttf') format("truetype"),
//         url('/assets/fonts/farrari-beta.ttf') format("woff"),
//         url('/assets/fonts/farrari-beta.ttf') format("woff2");

//     font-weight: normal;
//     font-style: normal;
// }

/* -------------------------------------------------------- */

@mixin font-heading {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    font-weight: var(--font-weight-bold);
}

@mixin font-subheading {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    font-weight: var(--font-weight-bold);
}

@mixin font-small-heading {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-bold);
}

@mixin font-text {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    font-weight: var(--font-weight-bold);
}

@mixin font-infotext {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    font-weight: var(--font-weight-bold);
}

// Body Styles
body {
    @include font-text;
    font-family: var(--font-family-base);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
}

// Heading Styles
h1,
h2 {
    @include font-heading;
    color: inherit;
}

h3,
h4 {
    @include font-subheading;
    color: inherit;
}

h5,
h6 {
    @include font-small-heading;
    color: inherit;
}

// Link styles
a {
    color: var(--link-color);
}
