$arrow-size: var(--icon-size);
$arrow-color: var(--icon-color);

$arrow-movement: 0.15em;


/* Arrows that are used together with text (mostly as <span class="arrow">) */
.arrow {
    position: relative;
    width: 0.8em;
    height: 1em;
    display: inline-block;
    font-size: inherit;
    line-height: inherit;

    &::before {
        content: '\2192';
        position: absolute;
        top: 0;
        left: 0;
        // transform: translate(-50%, -50%);
        font-size: inherit;
        line-height: 1.3em;
        transition: top .3s ease, left .3s ease;
    }

    &[data-direction="right"] {
        &::before {
            content: '\2192';
        }
    }

    &[data-direction="down-right"] {
        &::before {
            content: '\2198';
        }
    }

    &[data-direction="down"] {
        &::before {
            content: '\2193'; // Arrow pointing down
            line-height: 1.5em;
        }
    }

    &[data-direction="down-left"] {
        &::before {
            content: '\2199'; // Arrow pointing down-left
        }
    }

    &[data-direction="left"] {
        &::before {
            content: '\2190'; // Arrow pointing left
        }
    }

    &[data-direction="up-left"] {
        &::before {
            content: '\2196'; // Arrow pointing up-left
        }
    }

    &[data-direction="up"] {
        &::before {
            content: '\2191'; // Arrow pointing up
            line-height: 1.4em;
        }
    }

    &[data-direction="up-right"] {
        &::before {
            content: '\2197'; // Arrow pointing up-right
        }
    }
}