@use "../abstracts" as *;

.menu__list {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: var(--spacing-sm);
}

.menu__item {
  a {
    text-decoration: none;
  }

  &.active {
    text-decoration: underline;
  }
}
